body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#plot-container {
    margin-top: 20px;
}

#bibtex {
    font-family: 'Courier New', Courier, monospace
}

#plot-info, #plot-method {
    text-align: left;
    font-size: 11pt;
}

#plot {
    width: 80%;
    height: auto;
}
